@model SacramentPlanner.Models.SpeakingAssignment

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SpeakingAssignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SacramentMeeting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SacramentMeeting.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SacramentMeeting.MeetingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SacramentMeeting.MeetingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedOnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedOnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeakingSequence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeakingSequence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeakerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeakerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedTopic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedTopic)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
