@model SacramentPlanner.Models.SpeakingAssignment

@{
    ViewData["Title"] = "Details - Speaking Assignment";
    DateTime meetingDate = Convert.ToDateTime(Model.SacramentMeeting.MeetingDate);
}

<h2>Details</h2>

<div>
    <h4>Speaking Assignment for @meetingDate.ToString("MM/dd/yyyy")</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignedOnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedOnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeakingSequence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeakingSequence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeakerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeakerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedTopic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedTopic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.SacramentMeetingID">Back to Speaking Assignment List</a>
</div>
