@model IEnumerable<SacramentPlanner.Models.SpeakingAssignment>

@{
    ViewData["Title"] = "Speaking Assignments";
    string contextString = "";
    if (Model.Count() > 0)
    {
        DateTime meetingDate = Convert.ToDateTime(Model.ElementAt(0).SacramentMeeting.MeetingDate);
        contextString = meetingDate.ToString("MM/dd/yyyy");
    }
    else
    {
        contextString = "MeetingID " + ViewData["SacramentMeetingId"];
    }
}

<h2>Speaking Assignments for @contextString</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["SacramentMeetingID"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssignedOnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakingSequence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTopic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedOnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeakingSequence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeakerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedTopic)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="SacramentMeetings" asp-action="Index">Back to Sacrament Planner</a>
